/* Navbar font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Tittles font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Description Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F1F2F3;
  color: #2A2A2A;
}

header {
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.logo{
  cursor: pointer;
  align-items: center;
}

nav.header-nav {
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 10vh;
}

nav.header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav.header-nav ul li {
  margin-left: 50px;
  cursor: pointer;
}

 div.trending-topic {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F2F3;
  width: 100%;
  max-width: 1280px;
  margin: 25px auto;
}

 div.trending-topic img.trending-img {
  width: 750px;
  height: 500px;
}

section.trending-description {
  background-color: #F1F2F3;
  margin-left: 50px;
  width: 100%;
  max-width: 617px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.trending-description h1 {
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 32px;
  text-align: left;
}

section.trending-description p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

section.trending-description div.trending-credits {
  width: 100%;
  max-width: 617px;
  display: flex;
  flex-direction: row;
}

section.trending-description div.trending-credits span.trending-post-time {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-right: 30px;
}

section.trending-description div.trending-credits span.trending-author {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-right: 30px;
  color: #2A2A2A;
  font-weight: 400;
}

div.breaking-news {
  background-color: #C31815;
  width: 100%;
  max-width: 1280px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.breaking-news button {
  width: 160px;
  height: 54px;
  border: none;
  cursor: pointer;
  color: #C31815;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 5%;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

div.breaking-news button:hover {
  background-color: #8F1512;
  color: #fff;
}

div.breaking-news span {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

main.news-container {
  display: flex;
}

.header-container {
  background-color: #fff;
}

.content-container {
  background-color: #9d9d9d;
  width: 100%;
  max-width: 1280px;
  height: 80px;
  display: flex;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.news-container {
  width: 71%;
  max-width: 1280px;
}

.news-header {
  background-color: #fff;
  width: 100%;
  height: 55px;
}

.news-contents {
  background-color: #8F1512;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.news-contents-row {
  display: flex;
  flex-direction: row;
}

.news-content-card {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 520px;
  margin-right: 40px;
}

.news-content-card:last-child {
  margin-right: 0;
}

.card-header {
  background-color: aqua;
  width: 440px;
  height: 246px;
}

.card-content {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 390px;
  margin: 0 auto;
}

.content-tittle {
  font-family: 'IBM Plex Serif', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #2A2A2A;
}

.content-text {
 font-family: 'Nunito Sans', sans-serif;
 font-weight: 400;
 font-size: 15px;
 line-height: 22px;
 color: #2A2A2A; 
}

.content-credits {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
}

.content-author {
  opacity: 70%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #2A2A2A ;
}

.teste {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}